/*estilos menu   izquierdo*/
.menu-izq{
	margin-top: 250px;
	margin-left: 8%;
}
/
.icon{
	margin-top: 20px;
}

.icon-menu-iz{
	width: 100%;
}
/*estilos menu encabezado */
.logo{
	width: 60%;
	margin-top: 5%;
	height: auto;
	margin-left: 5%;
}
.menu-nav{
	margin-right: 3%;
}

img{
	border-radius: 4px;
}
p{
	font-size: 24px;
	text-align: justify;
}

.slogan{
	padding-top: 7%;
	padding-bottom: 1%;
	color: white;
	margin-top: 0;
}

.menu-v ul{
	padding: 1%;
}
