.titulo p{
	margin-left: 27%;
}
.titulo{
	background-color: #797A7A;
	padding: 1%;
	color: white;
}
.cuerpo{
	margin-top: 1%;
}
.menu a{
	font-size: 20px;
}
.fav{
	padding-top: 4%;
	font-size: 20px;
}
.fav a{
	text-decoration: none;
	color: black;
}
.img-comida{
	padding-bottom: 1%;
	margin: 1%;
	width: 100%;
	height: auto;
}
.historia{
	padding-top: 3%;
	font-size: 20px;
}
.historia a{
	text-decoration: none;
	color: black;
	background-color: none;
}
.lista{
	padding-top: 3%;
}
.h-a{
	padding: 3%;
	margin: 1%;
}
.comentario{
	width: 500px;
	margin-left: 0px;
}

.iconp{
	width: 40px;
	height: 40px;
	margin-left: 30px;
}

