/*Fondo de body*/
.musica{
  background-color: #8F9496; 
}
/*fondo de header*/
header{
  background-color: #023B4E  ;
}
/*redes sociales*/
.img-social{
    width: 70px;
    height: auto;
}

.img-social:hover{
    width: 90px;
    height: auto;
}
/*nav o menu*/
.menu{
  background-color:black;
}
.menu a{
  text-decoration: none;
}
.cuerpo{
  background-color: #6D7273; 
  margin:1%;
  padding: 1%;
}