.barra{
	background-color:  #027FB6;
}
.head-logo {
	width: 220px;
	padding: 30px;
}

.musica{
	background-color: #9F1B75;
}
.menu{
	display: inline-block;
	background-color: rgb(154, 211, 208  );
}

.cont-fondo{
	background-color: #C9D6DC;
}
.rcont-fondo{
	background-color: #A1A5A7;
}

